<template>
    <div class="header">
        <div class="container">

            <div class="logo">
                <router-link to="/">
                    <img src="../assets/images/logo.png" alt="">
                </router-link>
            </div>

            <div class="menu">
                <ul>
                    <li class="on"><router-link to="/Community">首页</router-link></li>
                    <li><router-link to="">问答</router-link></li>
                </ul>
                <div class="search">
                    <input type="text" placeholder="产品关键字搜索" class="txt">
                    <input type="button" value="搜索" class="btn">
                </div>
            </div>

            <div class="rbox">
                <router-link to="" class="information">
                    <img src="../assets/images/icon1.png" alt="">
                    <span>5</span>
                </router-link>
                <router-link to="" class="information">
                    <img src="../assets/images/icon8.png" alt="">
                    <span>8</span>
                </router-link>
                <router-link to="/" class="login">
                    <img src="../assets/images/icon2.png" alt="">
                </router-link>
            </div>

        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            
        }
    }
}
</script>
<style scoped lang="less">
    .header{
        width: 100%;
        background: #fff;
        position: sticky;
        top: 0;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                width: 80px;
            }
            .menu{
                display: flex;
                align-items: center;
                margin-left: 57px;
                ul{
                    display: flex;
                    li{
                        margin: 0 33px;
                        border-top: 2px solid transparent;
                        border-bottom: 2px solid transparent;
                        a{
                            font-size: 18px;
                            color: #333;
                            line-height: 86px;
                            display: block;
                            @media (max-widht:1600px) {
                                font-size: 16px;
                            }
                            @media (max-widht:1440px) {
                                font-size: 14px;
                            }
                        }
                        &:hover,&.on{
                            border-bottom: 2px solid #208fb9;
                            a{
                                font-weight: bold;
                                color: #208fb9;
                            }
                        }
                    }
                }
                .search{
                    display: flex;
                    border: 2px solid #208fb9;
                    border-radius: 2px;
                    margin-left: 98px;
                    .txt{
                        width: 417px;
                        height: 41px;
                        font-size: 15px;
                        color: #333;
                        padding-left: 20px;
                        &::placeholder{
                            color: #999;
                        }
                    }
                    .btn{
                        width: 138px;
                        height: 41px;
                        background: #208fb9 url(../assets/images/icon9.png) 33px center no-repeat;
                        background-size: 20px;
                        color: #fff;
                        font-size: 18px;
                        cursor: pointer;
                        padding-left: 27px;
                        @media (max-width:1600px) {
                            font-size: 16px;
                        }
                        @media (max-width:1440px) {
                            font-size: 14px;
                        }
                    }
                }
            }
            .rbox{
                display: flex;
                .information{
                    width: 30px;
                    height: 30px;
                    position: relative;
                    margin-right: 38px;
                    span{
                        width: 16px;
                        height: 16px;
                        background: #f5002f;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        color: #fff;
                        position: absolute;
                        right: -3px;
                        top: -3px;
                    }
                }
                .login{
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    color: #333;
                    @media (max-widht:1600px) {
                        font-size: 16px;
                    }
                    @media (max-widht:1440px) {
                        font-size: 14px;
                    }
                    img{
                        width: 30px;
                        height: 30px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
</style>