<template>
    <div>
        <CommunityHeader></CommunityHeader>

        <div class="cindex">
            <div class="container">
                <div class="left">
                    <div class="bigimg"><img src="../assets/images/c-img1.jpg" alt=""></div>
                    <div class="box">
                        <div class="menu">
                            <ul>
                                <li>关注</li>
                                <li class="on">推荐</li>
                                <li>热榜</li>
                            </ul>
                        </div>
                        <div class="list">
                            <ul>
                                <li>
                                    <router-link to="" class="title">
                                        安森美半导体的智能感知技术赋能AutoX第5代无人驾驶系统
                                    </router-link>
                                    <div class="tbox">
                                        <div class="img">
                                            <img src="../assets/images/c-img2.jpg" alt="">
                                        </div>
                                        <div class="txt">
                                            AutoX在世界人工智能大会上发布的第5代自动驾驶汽车技术实现了首款全无人驾驶的无人驾驶出租车(RoboTaxi)，旨在实现平民化自动驾驶并使人员出行和货物运输更加安全与便捷，AutoX RoboTaxi配备了最先进的摄像头传感器和LiDAR探测器，达到最高等级的安全水平...  
                                            <router-link to="" class="more">
                                                [查看全文]
                                            </router-link>
                                        </div>
                                    </div>
                                    <div class="ckbox">
                                        <div class="like" @click="like()"><img src="../assets/images/like.png" alt=""></div>
                                        <div class="unlike" @click="unlike()"><img src="../assets/images/unlike.png" alt=""></div>
                                        <div class="comment" @click="comment()"><img src="../assets/images/comment.png" alt=""> 评论(2)</div>
                                        <div class="share" @click="share()"><img src="../assets/images/share.png" alt=""> 分享</div>
                                        <div class="collect" @click="collect()"><img src="../assets/images/collect.png" alt=""> 收藏</div>
                                        <div class="report" @click="report()"><img src="../assets/images/report.png" alt=""> 举报</div>
                                    </div>
                                </li>
                                <li>
                                    <router-link to="" class="title">
                                        安森美半导体的智能感知技术赋能AutoX第5代无人驾驶系统
                                    </router-link>
                                    <div class="tbox">
                                        <div class="txt">
                                            AutoX在世界人工智能大会上发布的第5代自动驾驶汽车技术实现了首款全无人驾驶的无人驾驶出租车(RoboTaxi)，旨在实现平民化自动驾驶并使人员出行和货物运输更加安全与便捷，AutoX RoboTaxi配备了最先进的摄像头传感器和LiDAR探测器，达到最高等级的安全水平...  
                                            <router-link to="" class="more">
                                                [查看全文]
                                            </router-link>
                                        </div>
                                    </div>
                                    <div class="ckbox">
                                        <div class="like" @click="like()"><img src="../assets/images/like2.png" alt=""> 66</div>
                                        <div class="unlike" @click="unlike()"><img src="../assets/images/unlike.png" alt=""></div>
                                        <div class="comment" @click="comment()"><img src="../assets/images/comment.png" alt=""> 评论(2)</div>
                                        <div class="share" @click="share()"><img src="../assets/images/share.png" alt=""> 分享</div>
                                        <div class="collect" @click="collect()"><img src="../assets/images/collect2.png" alt=""> 已收藏</div>
                                        <div class="report" @click="report()"><img src="../assets/images/report.png" alt=""> 举报</div>
                                    </div>
                                </li>
                                <li>
                                    <router-link to="" class="title">
                                        安森美半导体的智能感知技术赋能AutoX第5代无人驾驶系统
                                    </router-link>
                                    <div class="tbox">
                                        <div class="img">
                                            <img src="../assets/images/c-img2.jpg" alt="">
                                        </div>
                                        <div class="txt">
                                            AutoX在世界人工智能大会上发布的第5代自动驾驶汽车技术实现了首款全无人驾驶的无人驾驶出租车(RoboTaxi)，旨在实现平民化自动驾驶并使人员出行和货物运输更加安全与便捷，AutoX RoboTaxi配备了最先进的摄像头传感器和LiDAR探测器，达到最高等级的安全水平...  
                                            <router-link to="" class="more">
                                                [查看全文]
                                            </router-link>
                                        </div>
                                    </div>
                                    <div class="ckbox">
                                        <div class="like" @click="like()"><img src="../assets/images/like.png" alt=""></div>
                                        <div class="unlike" @click="unlike()"><img src="../assets/images/unlike.png" alt=""></div>
                                        <div class="comment" @click="comment()"><img src="../assets/images/comment.png" alt=""> 评论(10)</div>
                                        <div class="share" @click="share()"><img src="../assets/images/share.png" alt=""> 分享</div>
                                        <div class="collect" @click="collect()"><img src="../assets/images/collect.png" alt=""> 收藏</div>
                                        <div class="report" @click="report()"><img src="../assets/images/report.png" alt=""> 举报</div>
                                    </div>
                                </li>
                                <li>
                                    <router-link to="" class="title">
                                        安森美半导体的智能感知技术赋能AutoX第5代无人驾驶系统
                                    </router-link>
                                    <div class="tbox">
                                        <div class="txt">
                                            AutoX在世界人工智能大会上发布的第5代自动驾驶汽车技术实现了首款全无人驾驶的无人驾驶出租车(RoboTaxi)，旨在实现平民化自动驾驶并使人员出行和货物运输更加安全与便捷，AutoX RoboTaxi配备了最先进的摄像头传感器和LiDAR探测器，达到最高等级的安全水平...  
                                            <router-link to="" class="more">
                                                [查看全文]
                                            </router-link>
                                        </div>
                                    </div>
                                    <div class="ckbox">
                                        <div class="like" @click="like()"><img src="../assets/images/like.png" alt=""></div>
                                        <div class="unlike" @click="unlike()"><img src="../assets/images/unlike.png" alt=""></div>
                                        <div class="comment" @click="comment()"><img src="../assets/images/comment.png" alt=""> 评论</div>
                                        <div class="share" @click="share()"><img src="../assets/images/share.png" alt=""> 分享</div>
                                        <div class="collect" @click="collect()"><img src="../assets/images/collect2.png" alt=""> 已收藏</div>
                                        <div class="report" @click="report()"><img src="../assets/images/report.png" alt=""> 举报</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="box1">
                        <div class="ckbox">
                            <router-link to="" class="item">
                                <div class="icon"><img src="../assets/images/icon10.png" alt=""><img src="../assets/images/icon10-1.png" alt=""></div>
                                <div class="txt">写文章</div>
                            </router-link>
                            <router-link to="" class="item">
                                <div class="icon"><img src="../assets/images/icon11.png" alt=""><img src="../assets/images/icon11-1.png" alt=""></div>
                                <div class="txt">去提问</div>
                            </router-link>
                        </div>
                        <div class="ckbox2">
                            <router-link to="" class="draft"><span><img src="../assets/images/icon12.png" alt=""><img src="../assets/images/icon12-1.png" alt=""></span> 草稿箱(1)</router-link>
                        </div>
                    </div>
                    <div class="box2">
                        <div class="recommendPage">
                            <swiper :options="swiperOption" ref="mySwiper">
                            <swiper-slide><img src="../assets/images/c-img3.jpg" alt=""></swiper-slide>
                            <swiper-slide><img src="../assets/images/c-img3.jpg" alt=""></swiper-slide>
                            <swiper-slide><img src="../assets/images/c-img3.jpg" alt=""></swiper-slide>
                            <div class="swiper-pagination" slot="pagination"></div>
                            <!-- <div class="swiper-button-prev" slot="button-prev"></div>
                            <div class="swiper-button-next" slot="button-next"></div> -->
                            </swiper>
                        </div>
                    </div>
                    <div class="box3">
                        <router-link to="" class="item">
                            <div class="t1"><span><img src="../assets/images/like.png" alt=""><img src="../assets/images/like2.png" alt=""></span> 我的点赞</div>
                            <div class="num">99</div>
                        </router-link>
                        <router-link to="" class="item">
                            <div class="t1"><span><img src="../assets/images/collect3.png" alt=""><img src="../assets/images/collect2.png" alt=""></span> 我的收藏</div>
                            <div class="num">6</div>
                        </router-link>
                        <router-link to="" class="item">
                            <div class="t1"><span><img src="../assets/images/icon13.png" alt=""><img src="../assets/images/icon13-1.png" alt=""></span> 我的评论</div>
                            <div class="num">7</div>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>

        <webFooter></webFooter>
    </div>
</template>
<script>
import CommunityHeader from './CommunityHeader.vue'
import webFooter from './webFooter.vue'
import { swiper, swiperSlide } from "vue-awesome-swiper"
import "swiper/dist/css/swiper.css"
export default {
    name: 'CommunityIndex',
    data () {
    return {
        swiperOption: {
            loop: true,
            autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: false
            },
            // 显示分页
            pagination: {
            el: ".swiper-pagination",
            clickable: true //允许分页点击跳转
            },
            // 设置点击箭头
            // navigation: {
            // nextEl: ".swiper-button-next",
            // prevEl: ".swiper-button-prev"
            // }
        }
    }
  },
  components:{
    CommunityHeader,
    webFooter,
    swiper,          //定义组件
    swiperSlide
  },
  methods:{

  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    }
  },
  mounted() {
    // current swiper instance
    // 然后你就可以使用当前上下文内的swiper对象去做你想做的事了
    console.log("this is current swiper instance object", this.swiper);
    // this.swiper.slideTo(3, 1000, false);
  }
}
</script>
<style scoped lang="less">
.cindex{
    width: 100%;
    background: #f5f5f5;
    padding: 70px 0 60px;
    .container{
        display: flex;
        justify-content: space-between;
        .left{
            width: 75.7%;
            .bigimg{
                width: 100%;
                margin-bottom: 22px;
                img{
                    width: 100%;
                }
            }
            .box{
                width: 100%;
                background: #fff;
                .menu{
                    width: 100%;
                    padding-left: 25px;
                    border-bottom: 2px solid #f5f5f5;
                    ul{
                        display: flex;
                        li{
                            font-size: 18px;
                            color: #333;
                            line-height: 58px;
                            margin-right: 55px;
                            cursor: pointer;
                            border-bottom: 2px solid transparent;
                            margin-bottom: -2px;
                            &:hover{
                                color: #208fb9;
                            }
                            &.on{
                                font-weight: bold;
                                color: #208fb9;
                                border-bottom: 2px solid #208fb9;
                            }
                        }
                    }
                }
                .list{
                    width: 100%;
                    ul{
                        li{
                            width: 100%;
                            border-bottom: 2px solid #f5f5f5;
                            padding: 17px 30px 33px;
                            &:hover{
                                .title{
                                    color: #208fb9;
                                }
                            }
                            .title{
                                width: 100%;
                                color: #333;
                                font-size: 20px;
                                line-height: 42px;
                                transition: all ease-in .3s;
                            }
                            .tbox{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                margin-top: 15px;
                                .img{
                                    width: 220px;
                                    margin-right: 20px;
                                    flex-shrink:0;
                                    img{
                                        width: 100%;
                                    }
                                }
                                .txt{
                                    font-size: 14px;
                                    line-height: 28px;
                                    color: #676767;
                                    .more{
                                        color: #208fb9;
                                    }
                                }
                                &.tbox2{
                                    .txt{
                                        width: 100%;
                                    }
                                }
                            }
                            .ckbox{
                                width: 100%;
                                display: flex;
                                margin-top: 20px;
                                font-size: 15px;
                                color: #999;
                                div{
                                    cursor: pointer;
                                    display: flex;
                                    align-items: center;
                                    img{
                                        margin-right: 5px;
                                    }
                                }
                                .like{
                                    margin-right: 30px;
                                }
                                .unlike{
                                    margin-right: 30px;
                                }
                                .comment{
                                    margin-right: 30px;
                                }
                                .share{
                                    margin-right: 30px;
                                }
                                .collect{
                                    margin-right: 30px;
                                }
                                .report{
                                    color: #999;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right{
            width: 22.8%;
            .box1{
                width: 100%;
                background: #fff;
                margin-bottom: 20px;
                padding: 0 30px 30px;
                .ckbox{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 17px 0 11px;
                    .item{
                        margin-right: 63px;
                        padding: 10px 0;
                        .icon{
                            width: 30px;
                            margin: auto;
                            img{
                                width: 100%;
                                &:last-child{
                                    display: none;
                                }
                            }
                        }
                        .txt{
                            font-size: 15px;
                            color: #666;
                            text-align: center;
                            line-height: 23px;
                        }
                        &:hover{
                            .icon{
                                img{
                                    &:first-child{
                                        display: none;
                                    }
                                    &:last-child{
                                        display: block;
                                    }
                                }
                            }
                            .txt{
                                color: #208fb9;
                            }
                        }
                    }
                }
                .ckbox2{
                    width: 100%;
                    padding-top: 20px;
                    border-top: 1px solid #f5f5f5;
                    .draft{
                        display: flex;
                        align-items: center;
                        color: #666;
                        span{
                            width: 18px;
                            height: 14px;
                            margin-right: 10px;
                            display: flex;
                            img{
                                width: 100%;
                                &:last-child{
                                    display: none;
                                }
                            }
                        }
                        &:hover{
                            span{
                                img{
                                    &:first-child{
                                        display: none;
                                    }
                                    &:last-child{
                                        display: block;
                                    }
                                }
                            }
                            color: #208fb9;
                        }
                    }
                }
            }
            .box2{
                width: 100%;
                margin-bottom: 20px;
            }
            .box3{
                width: 100%;
                background: #fff;
                padding: 20px 0;
                .item{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 14px 30px;
                    .t1{
                        display: flex;
                        align-items: center;
                        span{
                            width: 20px;
                            margin-right: 15px;
                            img{
                                width: 100%;
                                &:last-child{
                                    display: none;
                                }
                            }
                        }
                        font-size: 15px;
                        color: #666;
                    }
                    .num{
                        font-size: 14px;
                        background: #f5f5f5;
                        line-height: 22px;
                        padding: 0 5px;
                        border-radius: 3px;
                        color: #999;
                    }
                    &:hover{
                        background: #fff8f8;
                        .t1{
                            span{
                                img{
                                    &:first-child{
                                        display: none;
                                    }
                                    &:last-child{
                                        display: block;
                                    }
                                }
                            }
                            color: #ff6161;
                        }
                        .num{
                            color: #ff6161;
                            background: #ffe7e7;
                        }
                    }
                }
            }
        }
    }
}

.recommendPage .swiper-container{
    position: relative;
    width: 100%;
    background: pink;
}  
.recommendPage .swiper-container .swiper-slide{
    width: 100%;
}
</style>
<style>
.swiper-pagination{
    font-size: 0;
    bottom: 20px;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background: none;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #fff;
}
</style>