<template>
  
  <div id="app">
    <webHeader></webHeader>

    <div class="login">
        <div class="container">
            <div class="img">
              <img src="../assets/images/logo-img1.jpg" alt="">
            </div>
            <div class="login-box" v-if="login">
              <div  class="way">
                <span :class="{on:isShow === 1}" @click="loginTab(1)">验证码登录</span>
                <span :class="{on:isShow === 2}" @click="loginTab(2)">密码登录</span>
              </div>
              <div class="box">
                <div class="fbox" v-if="isShow === 1">
                  <form action="">
                    <div class="item">
                      <input type="text" name="" id="mobile" class="txt tel" placeholder="手机号">
                    </div>
                    <div class="item">
                      <input type="text" name="" id="password" class="txt" placeholder="请输入验证码">
                      <a href="javascript:;" class="yzm">获取验证码</a>
                    </div>
                    <div class="item">
                      <input type="submit" value="注册/登录" class="sub">
                    </div>
                    <div class="tips">
                      <input type="checkbox" name="" id="" class="ck"> 注册登录即代表同意 <a href="">《感算论坛协议》</a>
                    </div>
                  </form>
                </div>
                <div class="fbox" v-if="isShow === 2">
                  <form action="">
                    <div class="item">
                      <input type="text" name="" id="mobile" class="txt tel" placeholder="手机号 | 用户ID">
                    </div>
                    <div class="item">
                      <input type="password" name="" id="password" class="txt" placeholder="密码">
                      <span class="password"><img src="../assets/images/icon4.png" alt=""></span>
                    </div>
                    <div class="item forget">
                      <a href="javascript:;" class="forgetPassword" @click="retrievePassword()">忘记密码</a>
                    </div>
                    <div class="item">
                      <input type="submit" value="注册/登录" class="sub">
                    </div>
                    <div class="tips">
                      <input type="checkbox" name="" id="" class="ck"> 注册登录即代表同意 <a href="">《感算论坛协议》</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="retrievePassword" v-if="retrieve">
              <div class="box" v-if="getyzm">
                <div class="title">
                  找回密码
                </div>
                <div class="tbox">
                  <div class="item">
                      <input type="text" name="" id="mobile" class="txt tel" placeholder="手机号">
                    </div>
                    <div class="item">
                      <input type="text" name="" id="password" class="txt" placeholder="请输入手机验证码">
                      <a href="javascript:;" class="yzm">已发送验证码 (剩余25S)</a>
                    </div>
                    <div class="item">
                      <input type="submit" value="下一步" @click="setNewPassword()" class="sub">
                    </div>
                </div>
              </div>
              <div class="box" v-if="newpassword">
                <div class="title">
                  设置新密码  <span>新密码不少于8位</span>
                </div>
                <div class="tbox">
                  <div class="item">
                      <input type="password" name="" id="password1" class="txt" placeholder="新密码">
                      <span class="password"><img src="../assets/images/icon4.png" alt=""></span>
                    </div>
                    <div class="item">
                      <input type="password" name="" id="password2" class="txt" placeholder="请再次输入新密码">
                    </div>
                    <div class="item">
                      <input type="submit" value="确认" class="sub">
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <webFooter></webFooter>
  </div>

  


</template>
<script>
import webHeader from './webHeader.vue'
import webFooter from './webFooter.vue'
export default {
  name: 'Login',
  data () {
    return {
      isShow: 1,    //登录方式
      login:true,   //登录模块
      retrieve:false,   //忘记密码
      getyzm:true,      //第一步，获取验证码
      newpassword:false   //第二步，重置密码
    }
  },
  components:{
    webHeader,
    webFooter
  },
  methods:{

    // 登录方式切换
    loginTab(val){
      this.isShow = val;
    },

    // 忘记密码
    retrievePassword(){
      this.login = false;
      this.retrieve = true;
    },

    // 设置新密码
    setNewPassword(){
      this.getyzm = false;
      this.newpassword = true;
    }



    
  }
}

</script>
<style scoped lang="less">

.login{
  width: 100%;
  background: #f5f5f5;
  padding: 109px 0 136px;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 97px 0 60px;
    .img{
      width: 48.4%;
      img{
        width: 100%;
      }
    }

    // 登录模块
    .login-box{
      width: 35.8%;
      background: #fff;
      .way{
        width: 100%;
        border-bottom: 1px solid #f5f5f5;
        display: flex;
        span{
          width: 50%;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-right: 1px solid #f5f5f5;
          font-size: 18px;
          color: #666;
          cursor: pointer;
          @media (max-widht:1600px) {
              font-size: 16px;
          }
          @media (max-widht:1440px) {
              font-size: 14px;
          }
          &:last-child{
            border-right: none;
          }
          &.on{
            color: #208fb9;
            font-weight: bold;
          }
        }
      }
      .box{
        width: 100%;
        height: 315px;
        .fbox{
          width: 100%;
          padding: 30px;
          .item{
            width: 100%;
            position: relative;
            margin-bottom: 10px;
            .txt{
              width: 100%;
              height: 60px;
              background: #f5f5f5;
              padding: 0 20px;
              color: #333;
              font-size: 14px;
              &.tel{
                background: #f5f5f5 url(../assets/images/icon3.png) 95% center no-repeat;
                background-size: 24px;
              }
              &::placeholder{
                color: #b9b9b9;
              }
            }
            .yzm{
              position: absolute;
              font-size: 14px;
              color: #208fb9;
              text-decoration: underline;
              top: 0;
              right: 0;
              height: 100%;
              background: #f5f5f5;
              padding-right: 20px;
              display: flex;
              align-items: center;
            }
            .password{
              position: absolute;
              font-size: 14px;
              color: #208fb9;
              text-decoration: underline;
              top: 0;
              right: 0;
              height: 100%;
              background: #f5f5f5;
              padding-right: 16px;
              display: flex;
              align-items: center;
              cursor: pointer;
              img{
                width: 24px;
              }
            }
            &.forget{
              display: flex;
              justify-content: flex-end;
            }
            .forgetPassword{
              font-size: 12px;
              color: #b9b9b9;
              text-decoration: underline;
              transition: all ease-in .3s;
              &:hover{
                color: #208fb9;
              }
            }
            .sub{
              width: 100%;
              height: 60px;
              background: #208fb9;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              margin-top: 20px;
              font-size: 16px;
            }
          }
        }
        .tips{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          color: #b9b9b9;
          .ck{
            width: 10px;
            height: 10px;
            border: 1px solid #bfbfbf;
            margin-right: 7px;
            cursor: pointer;
          }
          a{
            color: #b9b9b9;
            transition: all ease-in .3s;
            &:hover{
              color: #208fb9;
            }
          }
        }
      }
    }

    // 找回密码
    .retrievePassword{
      width: 35.8%;
      background: #fff;
      .box{
        width: 100%;
        height: 375px;
        .title{
          width: 100%;
          height: 60px;
          border-bottom: 1px solid #f5f5f5;
          display: flex;
          align-items: center;
          font-size: 18px;
          color: #666;
          font-weight: bold;
          padding-left: 30px;
          @media (max-widht:1600px) {
              font-size: 16px;
          }
          @media (max-widht:1440px) {
              font-size: 14px;
          }
          span{
            font-size: 14px;
            color: #999;
            border-left: 1px solid #999;
            margin-left: 10px;
            padding-left: 10px;
            line-height: 1;
            font-weight: initial;
          }
        }
        .tbox{
          width: 100%;
          padding: 30px;
          .item{
            width: 100%;
            position: relative;
            margin-bottom: 10px;
            .txt{
              width: 100%;
              height: 60px;
              background: #f5f5f5;
              padding: 0 20px;
              color: #333;
              font-size: 14px;
              &.tel{
                background: #f5f5f5 url(../assets/images/icon3.png) 95% center no-repeat;
                background-size: 24px;
              }
              &::placeholder{
                color: #b9b9b9;
              }
            }
            .yzm{
              position: absolute;
              font-size: 14px;
              color: #208fb9;
              text-decoration: underline;
              top: 0;
              right: 0;
              height: 100%;
              background: #f5f5f5;
              padding-right: 20px;
              display: flex;
              align-items: center;
            }
            .password{
              position: absolute;
              font-size: 14px;
              color: #208fb9;
              text-decoration: underline;
              top: 0;
              right: 0;
              height: 100%;
              background: #f5f5f5;
              padding-right: 16px;
              display: flex;
              align-items: center;
              cursor: pointer;
              img{
                width: 24px;
              }
            }
            &.forget{
              display: flex;
              justify-content: flex-end;
            }
            .forgetPassword{
              font-size: 12px;
              color: #b9b9b9;
              text-decoration: underline;
              transition: all ease-in .3s;
              cursor: pointer;
              &:hover{
                color: #208fb9;
              }
            }
            .sub{
              width: 100%;
              height: 60px;
              background: #208fb9;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              font-size: 16px;
            }
          }
        }
      }
    }

  }
}


</style>
