<template>

    <div>
        <webHeader></webHeader>

        <div class="technical">
            <div class="container">
                <el-row :gutter="20" class="menu-box">
                    <el-col :span="6">
                        <router-link to="" class="item">
                            <div class="img"><img src="../assets/images/t-icon1.png" alt=""></div>
                            <div class="txt">定制化模块</div>
                        </router-link>
                    </el-col>
                    <el-col :span="6">
                        <router-link to="" class="item">
                            <div class="img"><img src="../assets/images/t-icon2.png" alt=""></div>
                            <div class="txt">工具/软件定制</div>
                        </router-link>
                    </el-col>
                    <el-col :span="6">
                        <router-link to="" class="item">
                            <div class="img"><img src="../assets/images/t-icon3.png" alt=""></div>
                            <div class="txt">技术支持</div>
                        </router-link>
                    </el-col>
                    <el-col :span="6">
                        <router-link to="" class="item">
                            <div class="img"><img src="../assets/images/t-icon4.png" alt=""></div>
                            <div class="txt">其他定制</div>
                        </router-link>
                    </el-col>
                </el-row>

                <el-row :gutter="20">
                    <el-col :span="18">
                        <div class="announcement">
                            <div class="top">
                                <div class="title">最新公告</div>
                                <router-link to="" class="more">更多</router-link>
                            </div>
                            <div class="list">
                                <div class="recommendPage">
                                    <swiper :options="swiperOption" ref="mySwiper">
                                        <swiper-slide>
                                            <router-link to="" class="item">
                                                <img src="../assets/images/t-img1.jpg" alt="">
                                                <div class="tbox">
                                                    <div class="t1">用好社区团购，激发客户购买力</div>
                                                    <div class="t2">3点看懂社区团购底层逻辑，6步用好社区团购...</div>
                                                </div>
                                            </router-link>
                                        </swiper-slide>
                                        <swiper-slide>
                                            <router-link to="" class="item">
                                                <img src="../assets/images/t-img1.jpg" alt="">
                                                <div class="tbox">
                                                    <div class="t1">用好社区团购，激发客户购买力</div>
                                                    <div class="t2">3点看懂社区团购底层逻辑，6步用好社区团购...</div>
                                                </div>
                                            </router-link>
                                        </swiper-slide>
                                        <swiper-slide>
                                            <router-link to="" class="item">
                                                <img src="../assets/images/t-img1.jpg" alt="">
                                                <div class="tbox">
                                                    <div class="t1">用好社区团购，激发客户购买力</div>
                                                    <div class="t2">3点看懂社区团购底层逻辑，6步用好社区团购...</div>
                                                </div>
                                            </router-link>
                                        </swiper-slide>
                                        <!-- <div class="swiper-pagination" slot="pagination"></div> -->
                                        <div class="swiper-button-prev" slot="button-prev"><img src="../assets/images/arrow-l.png" alt=""></div>
                                        <div class="swiper-button-next" slot="button-next"><img src="../assets/images/arrow-r.png" alt=""></div>
                                    </swiper>
                                </div>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <div class="question">
                            <div class="top">
                                <div class="title">常见问题</div>
                                <router-link to="" class="more">更多</router-link>
                            </div>
                            <div class="list">
                                <div class="recommendPage">
                                    <swiper :options="swiperOption2" ref="mySwiper2">
                                        <swiper-slide>
                                            <router-link to="" class="item">
                                                <div class="t1">如何订购商品？</div>
                                                <div class="t2">您可以首先浏览我们的网站了解商品。看到满意商品直接在网站上添加到购物车...</div>
                                            </router-link>
                                            <router-link to="" class="item">
                                                <div class="t1">所有的产品都能只能在网站上购买？</div>
                                                <div class="t2">目前网站查找的所有商品都是可以购买的，如果是现货，我们基本当天能发货。如果没有现货我们可以帮忙订货。</div>
                                            </router-link>
                                            <router-link to="" class="item">
                                                <div class="t1">为什么要注册会员？</div>
                                                <div class="t2">只有注册用户才可以在网上进行订购，享受优惠的价格。</div>
                                            </router-link>
                                            <router-link to="" class="item">
                                                <div class="t1">有些怎么一直没货？</div>
                                                <div class="t2">由于网站顾客购买量比较大，商品随时可能断货您可以选择您需要的商品，我商城提供代购和代购服务。</div>
                                            </router-link>
                                        </swiper-slide>
                                       <swiper-slide>
                                            <router-link to="" class="item">
                                                <div class="t1">如何订购商品？</div>
                                                <div class="t2">您可以首先浏览我们的网站了解商品。看到满意商品直接在网站上添加到购物车...</div>
                                            </router-link>
                                            <router-link to="" class="item">
                                                <div class="t1">所有的产品都能只能在网站上购买？</div>
                                                <div class="t2">目前网站查找的所有商品都是可以购买的，如果是现货，我们基本当天能发货。如果没有现货我们可以帮忙订货。</div>
                                            </router-link>
                                            <router-link to="" class="item">
                                                <div class="t1">为什么要注册会员？</div>
                                                <div class="t2">只有注册用户才可以在网上进行订购，享受优惠的价格。</div>
                                            </router-link>
                                            <router-link to="" class="item">
                                                <div class="t1">有些怎么一直没货？</div>
                                                <div class="t2">由于网站顾客购买量比较大，商品随时可能断货您可以选择您需要的商品，我商城提供代购和代购服务。</div>
                                            </router-link>
                                        </swiper-slide>
                                        <!-- <div class="swiper-pagination" slot="pagination"></div> -->
                                    </swiper>
                                    <div class="ckbox">
                                        <div class="swiper-button-prev" slot="button-prev"><img src="../assets/images/arrow-l2.png" alt=""></div>
                                        <div class="swiper-button-next" slot="button-next"><img src="../assets/images/arrow-r2.png" alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-col>
                </el-row>

            </div>
        </div>


        <div class="agencyBrand">
            <div class="container">
                <div class="top">
                    <div class="title">代理品牌 <span>为您精选品牌供应商</span></div>
                    <router-link to="" class="more">更多</router-link>
                </div>
                <div class="list">

                </div>
            </div>
        </div>


        <webFooter></webFooter>

    </div>

</template>
<script>
import webHeader from './webHeader.vue'
import webFooter from './webFooter.vue'
import { swiper, swiperSlide } from "vue-awesome-swiper"
import "swiper/dist/css/swiper.css"
export default {
    name: 'technicalIndex',
    data () {
        return {
            swiperOption: {
                loop: true,
                autoplay: {
                delay: 3000,
                stopOnLastSlide: false,
                disableOnInteraction: false,
                observer:true,
                observeParents:true,
                },
                // 显示分页
                // pagination: {
                // el: ".swiper-pagination",
                // clickable: true //允许分页点击跳转
                // },
                // 设置点击箭头
                navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
                }
            },
            swiperOption2: {
                loop: true,
                autoplay: {
                delay: 3000,
                stopOnLastSlide: false,
                disableOnInteraction: false,
                observer:true,
                observeParents:true,
                },
                // 设置点击箭头
                navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
                }
            },
        }
    },
    components:{
        webHeader,
        webFooter,
        swiper,          //定义组件
        swiperSlide
    },
    methods:{

    },
    computed: {
        swiper() {
            this.$refs.mySwiper.swiper;
            this.$refs.mySwiper2.swiper;
            // return this.$refs.mySwiper2.swiper;
        }
    },
    mounted() {
        
    }
}
</script>
<style lang="less" scoped>
.technical{
    width: 100%;
    background: #f5f5f5;
    padding: 50px 0 60px;
    .container{
        .el-row{
            width: 100%;
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
            &.menu-box{
                .item{
                    background: #fff;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 58px 0 55px;
                    .img{
                        width: 66px;
                        margin: auto;
                        img{
                            width: 100%;
                        }
                    }
                    .txt{
                        width: 100%;
                        text-align: center;
                        font-size: 20px;
                        line-height: 28px;
                        color: #333;
                        margin-top: 13px;
                    }
                    &:hover{
                        .txt{
                            color: #208fb9;
                        }
                    }
                }
            }
            

            .announcement{
                width: 100%;
                .top{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: #fff;
                    height: 80px;
                    padding: 0 30px;
                    font-size: 18px;
                    .title{
                        color: #333;
                    }
                    .more{
                        color: #999;
                        &:hover{
                            color: #208fb9;
                        }
                    }
                }
                .list{
                    width: 100%;
                    margin-top: 2px;
                    height: 598px;
                    .recommendPage{
                        width: 100%;
                        height: 100%;
                        .swiper-container{
                            height: 100%;
                        }
                    }
                    .item{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: block;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        .tbox{
                            width: 100%;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            background: rgba(0,0,0,.4);
                            padding: 25px 60px;
                            .t1{
                                font-size: 18px;
                                line-height: 25px;
                                color: #fff;
                            }
                            .t2{
                                font-size: 14px;
                                line-height: 25px;
                                color: #ccc;
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                border: 2px solid #fff;
                                border-radius: 50%;
                                left: 30px;
                                top: 42px;
                            }
                        }
                    }
                    .swiper-button-next, .swiper-button-prev{
                        background: none;
                        width: 62px;
                        height: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        top: initial;
                    }
                    .swiper-button-prev{
                        right: 84px;
                        bottom: 0;
                        left: initial;
                    }
                    .swiper-button-next{
                        right: 22px;
                        bottom: 0;
                    }
                }
            }

            .question{
                width: 100%;
                
                .top{
                    width: 100%;
                    height: 80px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 30px;
                    font-size: 18px;
                    background: #fff;
                    .title{
                        color: #333;
                    }
                    .more{
                        color: #999;
                        &:hover{
                            color: #208fb9;
                        }
                    }
                }
                .list{
                    width: 100%;
                    padding: 22px 30px 0;
                    height: 598px;
                    margin-top: 2px;
                    background: #fff;
                    position: relative;

                    .item{
                        width: 100%;
                        padding-bottom: 33px;
                        display: block;
                        .t1{
                            font-size: 16px;
                            color: #454545;
                            line-height: 35px;
                        }
                        .t2{
                            color: #999;
                            line-height: 25px;
                            margin-top: 5px;
                            font-size: 13px;
                        }
                    }
                    
                    .ckbox{
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 2;
                    }
                    .swiper-button-next, .swiper-button-prev{
                        background: none;
                        width: 40px;
                        height: 22px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        top: initial;
                        position: relative;
                        left: initial;
                        right: initial;
                        display: block;
                    }
                }
            }
        }
    }
}
.agencyBrand{
    width: 100%;
    background: #fff;
    .container{
        .top{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title{

                span{

                }
            }
            .more{
                
            }
        }
    }
}
</style>