<template>
    <div class="footer">
        <div class="container">
            <div class="fbox1">
                <div class="flogo">
                    <a href="/"><img src="../assets/images/logo2.png" alt=""></a>
                </div>
                <div class="fmenu">
                    <ul>
                        <li><router-link to="">商城</router-link></li>
                        <li><router-link to="/Community">社区</router-link></li>
                        <li><router-link to="/technicalIndex">技术服务</router-link></li>
                    </ul>
                </div>
                <div class="rbox">
                    <div class="tel">
                        <img src="../assets/images/icon5.png" alt=""> <span>400-830-1766</span>
                    </div>
                    <div class="femail"><img src="../assets/images/icon6.png" alt=""></div>
                    <div class="fwx"><img src="../assets/images/icon7.png" alt=""></div>
                </div>
            </div>
            <div class="fbox2">
                © 2021 上海感算电子商务有限公司  &nbsp; |  &nbsp; <router-link to="">粤ICP备05117344号</router-link> &nbsp;  |  &nbsp; <router-link to="">管理系统登录</router-link> 
                &nbsp;  | &nbsp; <router-link to="">隐私政策</router-link> &nbsp; | &nbsp; <router-link to="">Sitemap</router-link>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            
        }
    }
}
</script>
<style scoped lang="less">
.footer{
    width: 100%;
    background: #333;
    .container{
        .fbox1{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 56px 0 30px;
            .flogo{
                width: 80px;
            }
            .fmenu{
                margin-left: 70px;
                ul{
                    display: flex;
                    li{
                        padding: 0 60px;
                        position: relative;
                        a{
                            color: #999;
                            font-size: 18px;
                            @media (max-widht:1600px) {
                                font-size: 16px;
                            }
                            @media (max-widht:1440px) {
                                font-size: 14px;
                            }
                        }
                        &::after{
                            content: '';
                            width: 1px;
                            height: 10px;
                            background: #999;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        &:last-child::after{
                            display: none;
                        }
                    }
                }
            }
            .rbox{
                display: flex;
                .tel{
                    font-family: Arial;
                    color: #999;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    @media (max-widht:1600px) {
                        font-size: 16px;
                    }
                    @media (max-widht:1440px) {
                        font-size: 14px;
                    }
                    img{
                        width: 22px;
                        height: 22px;
                        margin-right: 10px;
                    }
                }
                .femail{
                    margin-left: 43px;
                    width: 22px;
                    height: 22px;
                    img{
                        width:100%;
                    }
                }
                .fwx{
                    margin-left: 46px;
                    width: 22px;
                    height: 22px;
                    img{
                        width:100%;
                    }
                }
            }
        }
        .fbox2{
            width: 100%;
            border-top: 1px solid #999;
            font-size: 14px;
            color: #999;
            line-height: 22px;
            padding: 28px 0 74px;
            a{
                color: #999;
            }
        }
    }
}
</style>