<template>
    <div class="header">
        <div class="container">

            <div class="logo">
                <router-link to="/">
                    <img src="../assets/images/logo.png" alt="">
                </router-link>
            </div>

            <div class="menu">
                <ul id="menu-list">
                    <li>
                        <router-link to="">商城</router-link>
                    </li>
                    <li>
                        <router-link to="/Community">社区</router-link>
                    </li>
                    <li>
                        <router-link to="/technicalIndex">技术服务</router-link>
                    </li>
                </ul>
            </div>

            <div class="rbox">
                <router-link to="" class="information">
                    <img src="../assets/images/icon1.png" alt="">
                    <span>5</span>
                </router-link>
                <router-link to="" class="information">
                    <img src="../assets/images/icon8.png" alt="">
                    <span>8</span>
                </router-link>
                <router-link to="/login" class="login">
                    <img src="../assets/images/icon2.png" alt="">
                    登录 / 注册
                </router-link>
            </div>

        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            
        }
    }
}

</script>
<style scoped lang="less">
.header{
    width: 100%;
    background: #fff;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 80px;
        }
        .menu{
            margin-right: 40px;
            ul{
                display: flex;
                li{
                    margin: 0 50px;
                    font-size: 18px;
                    color: #333;
                    line-height: 90px;
                    @media (max-widht:1600px) {
                        font-size: 16px;
                    }
                    @media (max-widht:1440px) {
                        font-size: 14px;
                    }
                }
            }
        }
        .rbox{
            display: flex;
            .information{
                width: 30px;
                height: 30px;
                position: relative;
                margin-right: 38px;
                span{
                    width: 16px;
                    height: 16px;
                    background: #f5002f;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    color: #fff;
                    position: absolute;
                    right: -3px;
                    top: -3px;
                }
            }
            .login{
                display: flex;
                align-items: center;
                font-size: 18px;
                color: #333;
                @media (max-widht:1600px) {
                    font-size: 16px;
                }
                @media (max-widht:1440px) {
                    font-size: 14px;
                }
                img{
                    width: 30px;
                    height: 30px;
                    margin-right: 8px;
                }
            }
        }
    }
}

</style>
