<template>
  <div id="app">
    <!-- <img src="./assets/logo.png"> -->
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
figure,
dl,
dd,
img,
form,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input,
textarea,
a,
span,
em {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: 'Microsoft YaHei', 'PingFang SC', 'Microsoft YaHei UI', 'Source Han Sans CN', 'Source Han Serif CN', 'SimSun', 'SimHei', 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  /* tap-highlight-color: transparent; */
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #fff;
}
@media (max-width: 1580px) {
  body {
    font-size: 14px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  object-fit: cover;
}
input,
textarea,
button {
  padding: 0;
  /* font-family: Verdana, Arial; */
  font-family: 'Microsoft Yahei', 'PingFang SC', 'PingFangSC-Regular';

}
select {
  -webkit-appearance: none;
}
input[type=submit],
input[type=text],
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
}
input:focus,
textarea:focus,
button:focus,
input:active {
  outline-color: transparent;
  border: 0;
}
select,
input,
select,
textarea {
  vertical-align: middle;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
ul,
ol,
li {
  list-style-type: none;
  line-height: 1;
}
a {
  color: #333;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  line-height: 1;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
a:active {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  zoom: 1;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.container {
  margin: 0 auto;
  width: 72.9%;
}
@media (max-width: 1580px) {
  .container {
    width: 84%;
  }
}
.bg-color1 {
  background-color: #fff;
}
</style>
